<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>This project is going to be a sandbox for Jenkins pipeline setup.</p>

    <p>This project is built using Node.js, Jenkins, Docker, and is hosted on AWS.</p>
  </body>
</html>
